$card-background-color: #ffffff;
$card-text-color: #000000;

$card-label-text-color: $card-text-color;
$card-label-error-text-color: #EB4657;

$card-input-background-color: #ffffff;
$card-input-error-text-color: #ffffff;
$card-input-error-background-color: rgba(235, 70, 87, .7);

$card-type-visa-border-color: #3b4a97;
$card-type-amex-border-color: #23ade3;
$card-type-mastercard-border-color: #ff9900;

$border-size: 1px;
$border-focus-size: 2px;

//.credit__card {
//
//	.card__info--cvc {
//		margin-top: 15px;
//
//		.card__cvc {
//			width: 100px;
//		}
//	}
//}


//noinspection ALL
.credit__card {
	width: 100%;
	max-width: 370px;
	height: 340px;
	padding: 65px 15px 15px;
	margin: 15px 0 35px;

	background-color: $card-background-color;

	background-position: top 15px right 15px, bottom right;
	background-repeat: no-repeat;
	background-size: 98px 48px, 370px 110px;

	border-radius: 4px;
	border: $border-size solid $card-text-color;

	color: $card-text-color;
	font-size: 2.4rem;
	letter-spacing: 2px;

	user-select: none;

	label {
		margin-bottom: 8px;

		color: $card-label-text-color;
	}

	input {
		background-color: $card-input-background-color;

		border-width: $border-size;

		&:focus {
			border-width: $border-focus-size;
		}
	}

	.form__group--error {
		label {
			color: $card-label-error-text-color;
		}

		input {
			color: $card-input-error-text-color;
			background-color: $card-input-error-background-color;
		}
	}

	.card__info {
		margin-top: 16px;
	}

	.card__expiry {
		.card__expiry__month {
			width: 65px;
		}

		.card__expiry__year {
			width: 78px;
		}
	}
}

//noinspection ALL
.credit__card--amex {
	background-image: asset_url('credit_card/cc_logo_amex.png'), asset_url('credit_card/cc_bg_amex.png');

	border-color: $card-type-amex-border-color;
}

//noinspection ALL
.credit__card--visa {
	background-image: asset_url('credit_card/cc_logo_visa.png'), asset_url('credit_card/cc_bg_visa.png');

	border-color: $card-type-visa-border-color;
}

//noinspection ALL
.credit__card--mastercard {
	background-image: asset_url('credit_card/cc_logo_mastercard.png'), asset_url('credit_card/cc_bg_mastercard.png');

	border-color: $card-type-mastercard-border-color;
}

.card__info {
	margin-top: 20px;
}

.card__info--split {
	input {
		text-align: center;
	}

	.card__info--cvc {
		margin-top: 15px;
	}
}

.card__label {
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 0;
}

.card__expiry {
	font-size: 1.8rem;
}

@media screen and (min-width: 375px) {
	.credit__card {
		height: 255px;
	}

	.card__info--split {
		.card__info--expiry {
			float: left;
			width: 165px;
		}

		.card__info--cvc {
			float: right;

			width: 75px;
			margin-top: 0;
		}
	}
}

@media screen and (min-width: 400px) {
	.credit__card {
		height: 240px;
		padding: 65px 35px 15px;
	}
}