@mixin form-components($font-color, $font-family, $label-font-weight, $input-field-font-weight, $input-field-font-size, $input-field-placeholder-font-color, $input-field-placeholder-font-weight, $input-field-background-color, $input-field-disabled-background-color, $input-field-focus-background-color, $input-field-file-background-color, $input-field-disabled-font-color, $input-field-border-color, $input-field-focus-border-color, $input-field-error-border-color, $input-field-border-radius, $checkbox-checked-url, $checkbox-unchecked-url, $drop-down-url) {
	label {
		display: block;

		margin-bottom: 12px;

		line-height: 1;

		color: $font-color;
		font-weight: $label-font-weight;
	}

	.label--checkbox {
		display: flex;
		align-items: center;
	}

	input,
	textarea {
		//noinspection SassScssResolvedByNameOnly
		@include font-settings($font-color, $font-family, $input-field-font-weight, $input-field-font-size);

		//noinspection SassScssResolvedByNameOnly
		@include font-rendering();

		width: 100%;
		padding: 15px 20px;

		background-color: $input-field-background-color;

		border: 2px solid $input-field-border-color;
		border-radius: $input-field-border-radius;

		transition: border-color .2s linear, background-color .2s linear;

		-webkit-appearance: none;
		-moz-appearance: none; /* mobile firefox too! */

		&:disabled {
			background-color: $input-field-disabled-background-color;
			color: rgba($input-field-disabled-font-color, .8);
		}

		&:focus {
			background-color: $input-field-focus-background-color;

			border: 2px solid $input-field-focus-border-color;
			outline: 0;

			transition: border-color .2s linear, background-color .2s linear;
		}
	}

	::-webkit-input-placeholder { /* WebKit browsers */
		color:    $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		opacity:  1;

		color:    $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
		opacity:  1;

		color:    $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	input[type=checkbox] {
		width: 30px;
		height: 30px;
		margin-right: 10px;

		border: 0;

		background: $checkbox-unchecked-url no-repeat;
		background-size: 30px 30px;

		&:checked {
			background: $checkbox-checked-url no-repeat;
			background-size: 30px 30px;
		}
	}

	input[type=submit] {
		width: auto;
	}

	input[type=file] {
		border: 0;

		&:focus {
			border: 0;

			background-color: $input-field-file-background-color;
		}
	}

	select {
		width: 100% !important;
		padding: 15px 77px 15px 20px;

		background: $input-field-focus-background-color $drop-down-url no-repeat right center;
		background-size: 57px 57px;

		border: 2px solid $input-field-border-color;

		//noinspection SassScssResolvedByNameOnly
		@include font-settings($font-color, $font-family, $input-field-font-weight, $input-field-font-size);

		//noinspection SassScssResolvedByNameOnly
		@include font-rendering();

		-webkit-appearance: none;
		-moz-appearance: none;

		&:focus {
			background-color: $input-field-focus-background-color;

			border: 2px solid $input-field-focus-border-color;
			outline: 0;

			transition: border-color .2s linear, background-color .2s linear;
		}

		//noinspection CssInvalidPseudoSelector
		&::-ms-expand {
			display: none;
		}
	}

	.select__no-value {
		color: $input-field-placeholder-font-color;
	}

	.form__group {
		position: relative;

		margin-bottom: 30px;
	}

	.form__group--small-bottom-margin {
		margin-bottom: 5px;
	}

	.form__group--error {
		label {
			color: $input-field-error-border-color;
		}

		select,
		input {
			border: 2px solid $input-field-error-border-color;

			background-color: rgba($input-field-error-border-color, .2);
		}

		.form__error__message {
			margin-top: 5px;

			color: $input-field-error-border-color;
		}
	}
}

