@mixin font-settings($font-color, $font-family, $font-weight, $font-size) {
	color: $font-color;
	font-family: $font-family;
	font-weight: $font-weight;
	font-size: $font-size;
	font-style: normal;
}

@mixin font-rendering() {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}