@import 'font';

@mixin input-field-focus($input-field-focus-background-color, $input-field-focus-border-color, $input-field-focus-border-size) {
	background-color: $input-field-focus-background-color;

	border: $input-field-focus-border-size solid $input-field-focus-border-color;
	outline: 0;

	transition: border-color .2s linear, background-color .2s linear;
}

@mixin form-components($font-color, $font-family, $label-font-color, $label-font-size, $label-font-weight, $input-field-font-weight, $input-field-font-size, $input-field-placeholder-font-color, $input-field-placeholder-font-weight, $input-field-background-color, $input-field-disabled-background-color, $input-field-focus-background-color, $input-field-file-background-color, $input-field-disabled-font-color, $input-field-border-color, $input-field-focus-border-color, $input-field-error-border-color, $input-field-border-radius, $input-field-border-size, $input-field-focus-border-size, $radio-checked-url, $radio-unchecked-url, $checkbox-checked-url, $checkbox-unchecked-url, $checkbox-label-padding-top, $drop-down-url) {
	$input-field-top-padding: 12px;
	$input-field-side-padding: 16px;
	$padding-delta: $input-field-focus-border-size - $input-field-border-size;

	label {
		display: block;

		margin-bottom: 12px;

		line-height: 1;

		color: $label-font-color;
		font-size: $label-font-size;
		font-weight: $label-font-weight;
	}

	input,
	textarea {
		@include font-settings($font-color, $font-family, $input-field-font-weight, $input-field-font-size);
		@include font-rendering();

		width: 100%;
		padding: $input-field-top-padding $input-field-side-padding;

		background-color: $input-field-background-color;

		border: $input-field-border-size solid $input-field-border-color;
		border-radius: $input-field-border-radius;

		transition: border-color .2s linear, background-color .2s linear;

		-webkit-appearance: none;
		-moz-appearance: none; /* mobile firefox too! */

		&:disabled {
			background-color: $input-field-disabled-background-color;
			color: rgba($input-field-disabled-font-color, .8);
		}

		&:focus {
			padding: ($input-field-top-padding - $padding-delta) ($input-field-side-padding - $padding-delta);

			@include input-field-focus($input-field-focus-background-color, $input-field-focus-border-color, $input-field-focus-border-size);
		}
	}

	::-webkit-input-placeholder {
		/* WebKit browsers */
		color: $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		opacity: 1;

		color: $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		opacity: 1;

		color: $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: $input-field-placeholder-font-color;
		font-weight: $input-field-placeholder-font-weight;
	}

	input[type=checkbox],
	input[type=radio] {
		display: none;

		& + label {
			min-height: 30px;
			padding-left: 40px;
			padding-top: $checkbox-label-padding-top;
		}
	}

	input[type=checkbox] {
		& + label {
			background: $checkbox-unchecked-url no-repeat;
			background-size: 30px 30px;
		}

		&:checked + label {
			background: $checkbox-checked-url no-repeat;
			background-size: 30px 30px;
		}
	}

	input[type=radio] {
		& + label {
			background: $radio-unchecked-url no-repeat;
			background-size: 30px 30px;
		}

		&:checked + label {
			background: $radio-checked-url no-repeat;
			background-size: 30px 30px;
		}
	}

	.group__checkbox {
		display: flex;
		align-items: center;

		margin-bottom: 15px;

		label {
			margin-top: 2px;
			margin-bottom: 0;
		}
	}

	input[type=submit] {
		width: auto;
	}

	input[type=file] {
		border: 0;

		&:focus {
			border: 0;

			background-color: $input-field-file-background-color;
		}
	}

	select {
		$select-input-background-image-size: 54px;
		$select-input-field-top-bottom-padding: $input-field-top-padding - 1px;
		$select-input-field-right-padding: $select-input-background-image-size + $input-field-side-padding;

		//width: 100% !important;
		width: 100%;
		padding: $select-input-field-top-bottom-padding $select-input-field-right-padding $select-input-field-top-bottom-padding $input-field-side-padding;

		background: $input-field-background-color $drop-down-url no-repeat right center;
		background-size: $select-input-background-image-size $select-input-background-image-size;

		border-radius: $input-field-border-radius;
		border: $input-field-border-size solid $input-field-border-color;

		@include font-settings($font-color, $font-family, $input-field-font-weight, $input-field-font-size);
		@include font-rendering();

		-webkit-appearance: none;
		-moz-appearance: none;

		&:focus {
			padding: ($select-input-field-top-bottom-padding - $padding-delta) ($select-input-field-right-padding - $padding-delta) ($select-input-field-top-bottom-padding - $padding-delta) ($input-field-side-padding - $padding-delta);

			@include input-field-focus($input-field-focus-background-color, $input-field-focus-border-color, $input-field-focus-border-size);
		}

		//noinspection CssInvalidPseudoSelector
		&::-ms-expand {
			display: none;
		}
	}

	.select__no-value {
		color: $input-field-placeholder-font-color;
	}

	.form__group {
		position: relative;

		margin-bottom: 24px;
	}

	.form__group--small-bottom-margin {
		margin-bottom: 5px;
	}

	.form__group--error {
		label {
			color: $input-field-error-border-color;
		}

		select,
		input {
			border: 2px solid $input-field-error-border-color;

			background-color: rgba($input-field-error-border-color, .2);
		}

		.form__error__message {
			margin-top: 5px;

			color: $input-field-error-border-color;
		}
	}

	.group__datetime {
		display: flex;
		align-items: center;
	}

	.group__datetime--separator {
		flex: 1 0 auto;

		margin-left: 15px;
		margin-right: 15px;

		font-weight: 700;
	}

	.group__time--separator {
		flex: 1 0 auto;

		margin-left: 5px;
		margin-right: 5px;

		font-weight: 700;
	}
}